spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: #FIXME
    username: #FIXME
    password: #FIXME
    driver-class-name: org.postgresql.Driver
  liquibase:
    enabled: true
    change-log: classpath:/changelog/master.xml
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

application:
  errorMessages:
    internalError: internal error
    wrongRequestParameters: wrong request parameters


#keycloak:
#  auth-server-url: #FIXME
#  realm: #FIXME
#  resource:#FIXME
#  bearer-only: true
#  security-constraints:
#    - authRoles:
#        - uma_authorization
#      securityCollections:
#        - patterns:
#            - /cluster/*
#            - /directory/*
#            - /file/*
#            - /recreate/*